@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Nunito&family=Oswald&display=swap');

/* 
==============
Root
==============
*/
:root{
    /* fonts */
    --primary-font: Comfortaa, sans-serif;
    --secondary-font: Nunito, sans-serif;
    /* color */
    --primary-clr-1:#e9f0db;
    --primary-clr-2:#bed293;
    --primary-clr-3:#92b54a;
    --primary-clr-4:#586c2d;
    --primary-clr-5:#1d240f;
    --secondary-clr-1:#f1e0da;
    --secondary-clr-2:#d4a291;
    --secondary-clr-3:#b86447;
    --secondary-clr-4:#6e3c2b;
    --secondary-clr-5:#25140e;
    --background-clr:#e3e8e5;
    --font-clr-1:#36433c;
    --font-clr-2:#181018;
    --font-clr-3:#2f3112;
    /* global */
    --spacing: 10px;
    --radius: 5px;
    --transition: all 0.3s;
    --shadow: 5px 5px 15px 1px rgba(0,0,0,0.3)

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* 
==============
Global
==============
*/
body{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--font-clr-1);
    background-color: var(--background-clr);
}
img{
    width:100%;
    border-radius: var(--radius);
}
a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--font-clr-3);
    font-family: var(--secondary-font);
    font-size: 1rem;
}
h1,h2,h3,h4{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.3rem;
}
p{
    text-transform: capitalize;
    line-height: 1.75;
    margin-bottom: 1rem;
    color: var(--font-clr-2);
    font-size: 0.9rem;
}
.section-center{
    max-width: 1170px;
    min-height: 100vh;
    padding: 4rem 2rem;
    margin: 0 auto; 
    /* margin-bottom: 8rem; */
}
.title{
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: var(--font-clr-2);
}

/* 
==============
NAV
==============
*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    background-color: rgb(190, 210, 147,0.7);
    box-shadow: var(--shadow);
}
.nav-container{
    color: var(--secondary-clr-4);
    max-width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    margin: 0 auto;

}
.logo-text{
    margin-bottom: 0;
    font-size: 1.3rem;
    user-select: none;
    transition: var(--transition);
}
.logo-text:hover{
    color: var(--secondary-clr-3);
}

.nav-link{
    padding: 0 0.25rem;
    font-family: Oswald,sans-serif;
    transition: var(--transition);
    text-transform: uppercase;
}
.nav-link:hover{
    transform: translateX(10px);
    color: rgb(114, 139, 110)
}
.social-link{
    padding: 0 0.5rem;
    font-size: 1.3rem;
    color: var(--primary-clr-4);
    transition: var(--transition);
}
.social-link:hover{
    color: var(--primary-clr-3);
}

/* 
==============
Projects
==============
*/
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}
.project{
    width: auto;
    height: auto;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    background-color: #fff;
    transition: var(--transition);
}
.project:hover{
    filter: brightness(90%);
}

.project-img{ 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.project-title{
    color: var(--secondary-clr-2);
    margin-bottom: 0.5rem;
}
/* 
==============
About
==============
*/
#about{
    min-height: 70vh;
}
.about-text{
    text-align: justify;
    margin: 0 auto;
    max-width: 600px;
}
/* 
==============
footer
==============
*/
footer{
    width: 100%;
    height: 1rem;
    text-align: center;
    background-color: var(--primary-clr-1);
    box-shadow: var(--shadow);
}
.footer-text{
    font-size: 0.65rem;
    margin-top: 0.35rem;
    color: var(--font-clr-2);
}
.footer-text #company{
    font-weight: 600;
}